<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="imu_x_size" value="0.027" />
  <xacro:property name="imu_y_size" value="0.02" />
  <xacro:property name="imu_z_size" value="0.004" />

  <link name="imu_link">
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
    </inertial>

    <collision>
      <geometry>
        <box size="${imu_x_size} ${imu_y_size} ${imu_z_size}"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <box size="${imu_x_size} ${imu_y_size} ${imu_z_size}"/>
      </geometry>
      <material name="hunter-green">
        <color rgba="1 0.34 0.2 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.170475"/>
  </joint>

  <xacro:include filename="$(find xerbo_description)/urdf/imu.gazebo.urdf.xacro" />

</robot>
