<?xml version="1.0"?>
<robot name="xerbo" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find xerbo_description)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find xerbo_description)/urdf/mounting-frame.urdf.xacro" />
  <xacro:include filename="$(find xerbo_description)/urdf/imu.urdf.xacro" />
  <xacro:include filename="$(find xerbo_description)/urdf/lidar.urdf.xacro" />
  
</robot>
